<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p> -->

<div class="panel panel-default">
  <div class="panel-heading">
  <h3><%= @link.title %></h3>
</div>
<div class="panel-body">
  <p>Submitted <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.email %>

<%= button_to "Visit URL", @link.url, :method => "get", class: "btn floatleft" %>

<%= button_to "Edit", edit_link_path(@link), :method => "get", class: "btn floatleft" %>

<%= button_to "Back", links_path, :method => "get", class: "btn floatleft" %>


<div class="btn-group pull-right">
  <%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-up"></span>
    upvote
    <%= @link.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
    <span class="glyphicon glyphicon-chevron-down"></span>
    downvote
    <%= @link.get_downvotes.size %>
  <% end %>
</div>
<br>
<br>
<hr>

<h3 class="comments_title">
  <%= @link.comments.count %> Comments
</h3>

<div id="comments">
  <%= render :partial => @link.comments %>
</div>

<%= simple_form_for [@link, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add Comment", class: "btn" %>
<% end %>

</div>
</div>

<!-- <%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %> -->
