<!-- <p id="notice"><%= notice %></p> -->

<!-- <p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p> -->

<div class="panel panel-default">
  <div class="panel-heading">
  <h3><%= @link.title %></h3>
</div>
<div class="panel-body">
  <p>Submitted <%= time_ago_in_words(@link.created_at) %> by <%= @link.user.email %>

<%= button_to "Visit URL", @link.url, :method => "get", class: "btn floatleft" %>

<%= button_to "Edit", edit_link_path(@link), :method => "get", class: "btn floatleft" %>

<%= button_to "Back", links_path, :method => "get", class: "btn floatleft" %>
</div>
</div>

<!-- <%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %> -->
